<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>

  <appSettings>
    <add key="web_api_url" value="http://127.0.0.1:9000"/>

    <add key="ae_station_name" value="STN0134" />
    <add key="ae_ip" value="127.0.0.1" />
    <add key="ae_prog_id" value="Yokogawa.CSHIS_AE.1" />
    <add key="ae_uid" value="EXA" />
    <add key="ae_pwd" value="EXA" />
    <add key="ae_event_filter_source_start_with" value="%M3" /><!--to separated by ',' and the matching rule is 'OR'-->
    <add key="ae_event_filter_message_start_with" value="" /><!--to separated by ',' and the matching rule is 'OR'-->
    
    <add key="ae_health_monitor_interval" value="9999999" /><!--millisecond-->
    <add key="ae_get_status_retry_times" value="3" />
    <add key="ae_get_status_retry_interval" value="500" /><!--millisecond-->
    <add key="ae_wdt_event_tags" value="" /><!--the tags should be separated by ',',-->
    <add key="ae_wdt_interval" value="60000" /><!--millisecond-->

    <add key="event_hub_middleware_web_api_url" value="http://192.168.42.40:5000/api/eventhub" /><!--can leave it blank if it's unnecessary to send to event middleware-->
    <add key="event_push_retry_times" value="3" />
    <add key="event_push_retry_interval" value="500" /><!--millisecond-->
    <add key="health_push_retry_times" value="3" />
    <add key="health_push_retry_interval" value="500" /><!--millisecond-->
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>