<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <root>
    <level value="All"></level>
  </root>

  <appender name="ae_server" type="log4net.Appender.RollingFileAppender">
    <file value="logs\1_ae_server\ae server.txt" />
    <appendToFile value="true"/>
    <maxSizeRollBackups value="20"/>
    <maximumFileSize value="5MB"/>
    <rollingStyle value="Size"/>
    <staticLogFileName value="true" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date{yyy-MM-dd HH:mm:ss}, [%-5level], %message%newline"/>
    </layout>
  </appender>

  <appender name="filtered_events" type="log4net.Appender.RollingFileAppender">
    <file value="logs\2_filtered_events\filtered events.txt" />
    <appendToFile value="true"/>
    <maxSizeRollBackups value="20"/>
    <maximumFileSize value="5MB"/>
    <rollingStyle value="Size"/>
    <staticLogFileName value="true" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date{yyy-MM-dd HH:mm:ss}, [%-5level], %message%newline"/>
    </layout>
  </appender>

  <appender name="raw_events" type="log4net.Appender.RollingFileAppender">
    <file value="logs\3_raw_events\raw events.txt" />
    <appendToFile value="true"/>
    <maxSizeRollBackups value="20"/>
    <maximumFileSize value="5MB"/>
    <rollingStyle value="Size"/>
    <staticLogFileName value="true" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date{yyy-MM-dd HH:mm:ss}, [%-5level], %message%newline"/>
    </layout>
  </appender>

  <appender name="invalid_events" type="log4net.Appender.RollingFileAppender">
    <file value="logs\4_invalid_events\invalid events.txt" />
    <appendToFile value="true"/>
    <maxSizeRollBackups value="20"/>
    <maximumFileSize value="5MB"/>
    <rollingStyle value="Size"/>
    <staticLogFileName value="true" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date{yyy-MM-dd HH:mm:ss}, [%-5level], %message%newline"/>
    </layout>
  </appender>

  <appender name="enqueue_events" type="log4net.Appender.RollingFileAppender">
    <file value="logs\5_enqueue_events\enqueue events.txt" />
    <appendToFile value="true"/>
    <maxSizeRollBackups value="20"/>
    <maximumFileSize value="5MB"/>
    <rollingStyle value="Size"/>
    <staticLogFileName value="true" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date{yyy-MM-dd HH:mm:ss}, [%-5level], %message%newline"/>
    </layout>
  </appender>

  <appender name="dequeue_events" type="log4net.Appender.RollingFileAppender">
    <file value="logs\6_dequeue_events\dequeue events.txt" />
    <appendToFile value="true"/>
    <maxSizeRollBackups value="20"/>
    <maximumFileSize value="5MB"/>
    <rollingStyle value="Size"/>
    <staticLogFileName value="true" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date{yyy-MM-dd HH:mm:ss}, [%-5level], %message%newline"/>
    </layout>
  </appender>

  <appender name="notified_events" type="log4net.Appender.RollingFileAppender">
    <file value="logs\7_notified_events\notified events.txt" />
    <appendToFile value="true"/>
    <maxSizeRollBackups value="20"/>
    <maximumFileSize value="5MB"/>
    <rollingStyle value="Size"/>
    <staticLogFileName value="true" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date{yyy-MM-dd HH:mm:ss}, [%-5level], %message%newline"/>
    </layout>
  </appender>

  <appender name="notify_failed_events" type="log4net.Appender.RollingFileAppender">
    <file value="logs\8_notify_failed_events\notify failed events.txt" />
    <appendToFile value="true"/>
    <maxSizeRollBackups value="20"/>
    <maximumFileSize value="5MB"/>
    <rollingStyle value="Size"/>
    <staticLogFileName value="true" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date{yyy-MM-dd HH:mm:ss}, [%-5level], %message%newline"/>
    </layout>
  </appender>

  <appender name="health" type="log4net.Appender.RollingFileAppender">
    <file value="logs\9_health\health.txt" />
    <appendToFile value="true"/>
    <maxSizeRollBackups value="20"/>
    <maximumFileSize value="5MB"/>
    <rollingStyle value="Size"/>
    <staticLogFileName value="true" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date{yyy-MM-dd HH:mm:ss}, [%-5level], %message%newline"/>
    </layout>
  </appender>

  <appender name="error" type="log4net.Appender.RollingFileAppender">
    <file value="logs\10_error\error.txt"/>
    <appendToFile value="true"/>
    <maxSizeRollBackups value="20"/>
    <maximumFileSize value="5MB"/>
    <rollingStyle value="Size"/>
    <staticLogFileName value="true" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%newline%date{yyy-MM-dd HH:mm:ss} [%thread] - %message%newline"/>
    </layout>
    <filter type="log4net.Filter.LevelRangeFilter">
      <param name="LevelMin" value="ERROR"/>
      <param name="LevelMax" value="FATAL"/>
    </filter>
  </appender>

  <appender name="info" type="log4net.Appender.RollingFileAppender">
    <file value="logs\11_info\info.txt" />
    <appendToFile value="true"/>
    <maxSizeRollBackups value="20"/>
    <maximumFileSize value="5MB"/>
    <rollingStyle value="Size"/>
    <staticLogFileName value="true" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date{yyy-MM-dd HH:mm:ss}, [%-5level], %message%newline"/>
    </layout>
  </appender>

  <logger name="AeServer" additivity="false">
    <level value="All"/>
    <appender-ref ref="ae_server" />
  </logger>

  <logger name="RawEvents" additivity="false">
    <level value="All"/>
    <appender-ref ref="raw_events" />
  </logger>

  <logger name="FilteredEvents" additivity="false">
    <level value="All"/>
    <appender-ref ref="filtered_events" />
  </logger>

  <logger name="InvalidEvents" additivity="false">
    <level value="All"/>
    <appender-ref ref="invalid_events" />
  </logger>

  <logger name="EnqueueEvents" additivity="false">
    <level value="All"/>
    <appender-ref ref="enqueue_events" />
  </logger>

  <logger name="DequeueEvents" additivity="false">
    <level value="All"/>
    <appender-ref ref="dequeue_events" />
  </logger>

  <logger name="NotifiedEvents" additivity="false">
    <level value="All"/>
    <appender-ref ref="notified_events" />
  </logger>

  <logger name="NotifyFailedEvents" additivity="false">
    <level value="All"/>
    <appender-ref ref="notify_failed_events" />
  </logger>

  <logger name="Health" additivity="false">
    <level value="All"/>
    <appender-ref ref="health" />
  </logger>

  <logger name="Error" additivity="false">
    <level value="ERROR"/>
    <appender-ref ref="error"/>
  </logger>

  <logger name="Info" additivity="false">
    <level value="All"/>
    <appender-ref ref="info"/>
  </logger>
</log4net>