<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>

  <appSettings>
    <add key="web_api_url" value="http://192.168.42.2:9010" />
    <add key="web_api_client_white_list" value="127.0.0.1,192.168.42.1,192.168.42.40" />    <!--the ip list should be separated by ',',-->

    <add key="da_station_name" value="STN0134" />
    <add key="da_ip" value="127.0.0.1" />
    <add key="da_prog_id" value="Yokogawa.CSHIS_OPC" />
    <add key="da_uid" value="EXA" />
    <add key="da_pwd" value="EXA" />
    <add key="da_max_items_read_per_batch" value="500" />
    <add key="da_max_items_write_per_batch" value="500" />

    <add key="da_health_monitor_interval" value="30000" />    <!--millisecond-->
    <add key="da_get_status_retry_times" value="3" />
    <add key="da_get_status_retry_interval" value="500" />    <!--millisecond-->
    <add key="da_wdt_tags" value="" />    <!--the tags should be separated by ',',-->
    <add key="da_wdt_tag_value" value="1" />    
    <add key="da_wdt_interval" value="60000" />    <!--millisecond-->

    <add key="data_hub_middleware_web_api_url" value="http://localhost:10066/api/datahub" />    <!--can leave it blank if it's unnecessary to send to event middleware-->
    <add key="data_change_push_retry_times" value="3" />
    <add key="data_change_push_retry_interval" value="500" />    <!--millisecond-->
    <add key="health_push_retry_times" value="3" />
    <add key="health_push_retry_interval" value="500" />    <!--millisecond-->

  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>
